:root {
	--purple-color: #7000e1;
	--blue-color: #00b0e8;
	--orange-color: #fc8800;
	--dark-background-color: #26182f;
	--light-background-color: #f5f3f6;
	--dark-font-color: #786c83;
	--dark-heading-color: #fff;
	--light-heading-color: #26182f;
	--dark-card-background: #372841;
	--light-card-background: #ffffff;
	--heading-color: rgba(0, 0, 0, 0.7);
	--light-font-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	transition: background 1s linear;
}

body.light {
	background: var(--light-background-color);
	color: var(--light-font-color);
}

body.dark {
	background: var(--dark-background-color);
	color: var(--dark-font-color);
}

.dark h1,
.dark h2 {
	color: var(--dark-heading-color);
}

.light h1,
.light h2 {
	color: var(--light-heading-color);
}

.dark .card-container,
.dark .sidebar-container,
.dark .search input {
	background: var(--dark-card-background);
	background-color: var(--dark-card-background);
}

.light .card-container,
.light .sidebar-container,
.light .search input {
	background-color: var(--light-card-background);
	background: var(--light-card-background);
	color: var(--light-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1,
h2,
p {
	font-weight: 400;
	/* color: var(--dark-heading-color); */
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

.dark a:hover {
	/* text-decoration: underline; */
	color: var(--dark-heading-color);
}

.light a:hover {
	color: var(--light-heading-color);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.light ::placeholder {
	color: var(--light-font-color);
}

.dark ::placeholder {
	color: var(--dark-font-color);
}

/* @media (prefers-color-scheme: dark) {
	--background-color: #26182f;
} */