:root {
	--purple-color: #7000e1;
	--blue-color: #00b0e8;
	--orange-color: #fc8800;
	--dark-background-color: #26182f;
	--light-background-color: #f5f3f6;
	--dark-font-color: #bdbdbd;
	--dark-heading-color: #fff;
	--light-heading-color: #26182f;
	--dark-card-background: #372841;
	--light-card-background: #ffffff;
	--heading-color: rgba(0, 0, 0, 0.7);
	--light-font-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

*:focus {
	outline: 1px solid #fc8800;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	transition: background 1s linear;
}

body.light {
	background: var(--light-background-color);
	color: var(--light-font-color);
}

body.dark {
	background: var(--dark-background-color);
	color: var(--dark-font-color);
}

.dark h1,
.dark h2,
.dark .bold {
	color: var(--dark-heading-color);
}

.light h1,
.light h2,
.light .bold {
	color: var(--light-heading-color);
}

.dark .card-container,
.dark .sidebar-container,
.dark .modal-container,
.dark .search input,
.dark thead,
.dark a,
.dark .progress {
	background: var(--dark-card-background);
	background-color: var(--dark-card-background);
	color: var(--dark-font-color);
}

.light .card-container,
.light .sidebar-container,
.light .modal-container,
.light .search input,
.light thead,
.light a,
.light .progress {
	background-color: var(--light-card-background);
	background: var(--light-card-background);
	color: var(--light-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1,
h2,
p {
	font-weight: 400;
	/* color: var(--dark-heading-color); */
}

p {
	line-height: 1.5;
}

a {
	/* color: #7b777e; */
	text-decoration: none;
}

.dark a:hover {
	/* text-decoration: underline; */
	color: var(--dark-heading-color);
}

.light a:hover {
	color: var(--light-heading-color);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button,
textarea,
select,
option {
	font-size: inherit;
	font-family: inherit;
}

input:invalid {
	outline: red;
}

button {
	cursor: pointer;
	padding: 0.5rem 2rem;
	border-radius: 1.5rem;
	border: none;
	outline: none;
	text-transform: capitalize;
	background: #7000e1;
	color: #fff;
}

input,
textarea,
select {
	color: inherit;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.light ::placeholder {
	color: var(--light-font-color);
}

.dark ::placeholder {
	color: var(--dark-font-color);
}

input,
textarea,
select {
	width: 100%;
	padding: 0.8rem 0.5rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	color: inherit;
}

.dark input,
.dark textarea,
.dark select {
	background: var(--dark-background-color);
}

.light input,
.light textarea,
.light select {
	background: var(--light-background-color);
}

input:focus,
textarea:focus,
select:focus {
	outline: 2px solid var(--orange-color);
}

.light svg {
	stroke: #c2bbc8;
}

.dark svg {
	stroke: var(--dark-font-color);
}

.secondary-button {
	background: none;
	/* border: 1px solid #7000e1; */
	color: #7000e1;
}

.dark .secondary-button {
	color: #fff;
}

table {
	width: 100%;
}

table,
th,
td {
	/* border: 1px solid; */
	border-collapse: collapse;
	margin: 10px;
	text-align: left;
	border: none;
	white-space: nowrap;
	/* border-radius: 1rem; */
}

th {
	font-size: 1.2rem;
	text-transform: capitalize;
	padding: 0.8rem 1rem;
}

td {
	padding: 0.8rem 1rem;
}
